$accentColor = #3eaf7c
@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

.navbar .site-name {
  font-family: "Plantin Bold Condensed",Plantin,"Plantin Pro","Book Antiqua",Georgia,"Times New Roman",serif;
}

#sw-image {
  text-align: center;
}

circle {
  fill : green;
}
